* {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
}

.cardTitle {
    background-color: rgb(69, 48, 110);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.cardTitle>h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}

.cardArchivoXML {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cardSimulacion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cardSimulacionReportes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cardArchivoXMLContent,
.cardSimulacionContent {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    height: 90%;
}

.cardArchivoXMLTitle,
.cardSimulacionTitle {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 25px 0px;
    border-bottom: 1px solid #cfd2d5;
}

.info-text {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 25px 0px;
    border-bottom: 1px solid #cfd2d5;
}

.info-textR {
    height: 20%;
    align-items: center;
    justify-content: left;
    padding: 0px 25px 0px;
    border-bottom: 1px solid #cfd2d5;
}

.info-textB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 20%;
    padding: 0px 25px 0px;
    border-bottom: 1px solid #cfd2d5;
}

.info-textB>form {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-textB>form>button {
    width: 70%;
    height: 65%;
    background-color: rgb(69, 48, 110);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cardArchivoXMLTitle>h2,
.cardSimulacionTitle>h2,
.info-text>h2 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin: 0;
}

.cardArchivoXMLTitle>h3,
.cardSimulacionTitle>h3,
.info-text>h3,
.info-textB>h3 {
    color: #2c3e50;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.cardArchivoXMLBody {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSimulacionBody {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardArchivoXMLBody>form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 25px;
}

.file-input-group>label {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    border: 1px solid #cfd2d5;
    border-radius: 8px;
    cursor: pointer;
}

.file-input-group>label>span {
    padding-left: 20px;
    opacity: 0.7;
}

.file-input-group>button {
    background-color: rgb(69, 48, 110);
    color: white;
    border-radius: 8px;
    border: none;
    width: 15%;
    height: 50%;
    cursor: pointer;
}

.cardSimulacionBody>form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cardForm-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40%;
    height: 100%;
}

.form-groupB {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%;
    height: 100%;
}

.form-group>label {
    display: flex;
    align-items: center;
    height: 60%;
}

.form-group>select {
    height: 40%;
    border-radius: 8px;
}

.form-groupB>button {
    background-color: rgb(69, 48, 110);
    color: white;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 40%;
    cursor: pointer;
}